/* Global Setting for responsive design */
@media only screen and (min-width: 1024px) {
	body {
		width: 1024px;
		text-align: center;
		margin: 0 auto !important;
	}
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


/* Topbar */
#topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-family: "Anton", sans-serif;
}

#topbar .cover-image-container {
	margin: 5px;
}

#topbar .personal-info-container {
	text-align: left;
	padding: 10px 10px 2px 10px;;
}

#topbar .cover-image-container {
	border-top: 4px solid green;
	padding: 5px 1px;
}

#topbar .cover-image-container .cover-image {
	width: 100%;
	margin-bottom: 10px;
}

#topbar .contact-method-container {
	height: 30px;
}

#topbar .contact-method-container .contact-method {
	height: 40px;
	width: 40px;
}

#topbar .contact-method-container .contact-method .contact-link:hover {
	color: transparent;
	text-decoration: none;
}

#topbar .contact-method-container .contact-method .contact-icon {
  display: inline-block;
	height: 40px;
	margin: 0 5px;
}

@media only screen and (max-width: 600px) {
	#topbar {
		justify-content: center;
	}

	#topbar .icon-container {
		order: 0;
		text-align: center;
	}

	#topbar .cover-image-container {
		order: 1;
	}

	#topbar .personal-info-container {
		order: 2;
		text-align: center;
	}
}


/* Project show cases */
#show-case {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#show-case .project-item {
	display: inline-block;
	border: 2px solid #ccc;
	border-radius: 4px;
	width: 30%;
	padding: 10px;
}

#show-case .project-item:nth-child(3n+0) {
	border-color: #21a0a0;
}

#show-case .project-item:nth-child(3n+1) {
	border-color: #ff595e;
}

#show-case .project-item:nth-child(3n+2) {
	border-color: #46acc2;
}

#show-case .project-item .project-thumbnail-container .project-thumbnail {
	width: 100%;
}

#show-case .description-container {
  text-align: left;
  padding: 0 5%;
}

#show-case .project-item .link {
	text-align: center;
}

@media only screen and (max-width: 600px) {
	#show-case .project-item {
		width: 100%;
		margin: 10px;
	}
}