$break-medium: "only screen and (max-width: 600px)"
$break-large: "only screen and (min-width: 1024px)"
$fontImport: 'Anton', sans-serif

@media #{$break-large}
	body
		width: 1024px
		text-align: center
		margin: 0 auto !important

header#topbar
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap	
	font-family: $fontImport
	img
		margin: 5px
	#personalInfo
		text-align: left
		padding: 10px
	#contactMethod
		height: 30px
		span 
			height: 30px
			width: 30px
		a:hover
			color: transparent
			text-decoration: none
		img
			height: 100%
	@media #{$break-medium}
		&
			justify-content: center
		img
			order: 0
			text-align: center	
		#personalInfo
			order: 1
			text-align: center

main#show-case
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	section
		display: inline-block
		border: 2px solid #ccc
		border-radius: 4px
		width: 30%
		padding: 10px
		.project-thumbnail
			img
				width: 100%
		.link
			text-align: center
		@media #{$break-medium}
			&
				width: 100%
				margin: 10px


