$break-medium: "only screen and (max-width: 600px)"
$break-large: "only screen and (min-width: 1024px)"

header#topbar
	display: flex
	justify-content: space-between
	align-items: center
	flex-wrap: wrap	
	img
		margin: 5px
	#personalInfo
		text-align: right
	#contactMethod
		height: 30px
		span 
			height: 30px
			width: 30px
		img
			height: 100%
	@media #{$break-medium}
		&
			justify-content: center
		img
			text-align: center	
		#personalInfo
			text-align: center

main#show-case
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	section
		display: inline-block
		border: 2px solid #ccc
		border-radius: 4px
		width: 30%
		padding: 10px
		img
			width: 100%
		.link
			text-align: center


